
.client .img-client {
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);

    &.img-client:hover {
       filter: none;
       opacity: 1;
   }
  } 
.client--title{
    color: $color-blue--primary;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}