/*--------------------------------------------------------------
# FORMATION Section
--------------------------------------------------------------*/
.formation {
  padding: 0;
  margin-bottom: 60px;
  margin-top: 100px;
   .container {
    padding: 80px;
    background: $color-gray;
    border-radius: 15px; 
  }
}


@media (max-width: 992px) {
  .formation .container {
    padding: 60px; 
  }
}

.formation .content h3 {
  color: $color-orange--primary;
  font-size: 48px;
  font-weight: 700;
}

.formation .content h3 em {
  font-style: normal;
  position: relative;
}

.formation .content h3 em:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 10px;
  background: rgba(rgb(255, 255, 255), 1);
  z-index: -1;
}

.formation .content p {
  color: black;
  font-weight: 600;
  font-size: 18px;
}


.formation .img {
  position: relative;
}

.formation .img:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(white, 0.5);
  border-radius: 15px;
  transform: rotate(12deg);
}

.formation .img:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(white, 0.9);
  border-radius: 15px;
  transform: rotate(6deg);
}

.formation .img img {
  position: relative;
  z-index: 3;
  border-radius: 15px;
}

/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.cta {
  padding: 0;
  margin-bottom: 60px;
}

.cta .container {
  padding: 80px;
  background: rgba( $color-gray , 1);
  border-radius: 15px;
}

@media (max-width: 992px) {
  .cta .container {
    padding: 60px;
  }
}

.cta .content h3 {
  color: $color-orange--primary;
  font-size: 48px;
  font-weight: 700;
}

.cta .content h3 em {
  font-style: normal;
  position: relative;
}

.cta .content h3 em:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 10px;
  background: rgba(white, 0.5);
  z-index: -1;
}

.cta .content p {
  color: $color-blue--primary;
  font-weight: 600;
  font-size: 18px;
}

.cta .content .cta-btn {
  color: red;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 10px;
  background: rgba(white, 0.9);
}

.cta .content .cta-btn:hover {
  background: yellow;
}

.cta .img {
  position: relative;
}

.cta .img:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(white, 0.5);
  border-radius: 15px;
  transform: rotate(12deg);
}

.cta .img:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(white, 0.9);
  border-radius: 15px;
  transform: rotate(6deg);
}

.cta .img img {
  position: relative;
  z-index: 3;
  border-radius: 15px;
}
// -------------------------------------------





/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/

.features-details .features-item+.features-item {
  margin-top: 60px;
}

.features-details .features-item .content {
  background-color: color-mix(in srgb, #388da8, transparent 95%);
  color: color-mix(in srgb, #3d4348, transparent 40%);
  padding: 30px;
  border-radius: 10px;
}

.features-details .features-item h3 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
}

.features-details .features-item .more-btn {
  background-color: #388da8;
  color: var(--contrast-color);
  padding: 6px 30px;
  border-radius: 6px;
}

.features-details .features-item .more-btn:hover {
  background-color: color-mix(in srgb, #388da8, transparent 20%);
}

.features-details .features-item ul {
  list-style: none;
  padding: 0;
}

.features-details .features-item ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.features-details .features-item ul li:last-child {
  padding-bottom: 0;
}

.features-details .features-item ul i {
  font-size: 20px;
  margin-right: 10px;
  color: #388da8;
}

.features-details .features-item img {
  border-radius: 15px;
}