/*--------------------------------------------------------------
# FORMATION Section
--------------------------------------------------------------*/
.formation {
  padding: 0;
  margin-bottom: 60px;
  margin-top: 100px;
}

.formation .container {
  padding: 80px;
  background: $color-gray;
  border-radius: 15px;
}

@media (max-width: 992px) {
  .formation .container {
    padding: 60px;
  }
}

.formation .content h3 {
  color: $color-orange--primary;
  font-size: 48px;
  font-weight: 700;
}

.formation .content h3 em {
  font-style: normal;
  position: relative;
}

.formation .content h3 em:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 10px;
  background: rgba(rgb(255, 255, 255), 1);
  z-index: -1;
}

.formation .content p {
  color: black;
  font-weight: 600;
  font-size: 18px;
}


.formation .img {
  position: relative;
}

.formation .img:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(white, 0.5);
  border-radius: 15px;
  transform: rotate(12deg);
}

.formation .img:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(white, 0.9);
  border-radius: 15px;
  transform: rotate(6deg);
}

.formation .img img {
  position: relative;
  z-index: 3;
  border-radius: 15px;
}
