.idea{
    margin-bottom: 100px;
    background: white;
}
.hexagon {
    width: 120px;
    height: 150px; /* Adjust height to maintain aspect ratio */
    background-color: #3498db; /* Hexagon color */
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  