.slider-products{
    // background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: url('../../Assets/img/grid-pattern.png');
    width: 100vw;
    height: 541px;
    padding: 20px;
    @media (max-width : $breakpoint--tablet) {
        height: 700px;
        overflow: hidden;
      }
} 
