.slider-products{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    display: flex;
    align-items: center;
    width: 100vw;
    height: 541px;
    padding: 20px;
    @media (max-width : $breakpoint--tablet) {
        height: 700px;
        overflow: hidden; 
    }
    h3{
        font-weight: 700;
    }
} 
.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    color: #ffffff;
    font-weight: 700;
}