// ------------------------------------------
// solutions layout home page
// ------------------------------------------
.solutions { 
    padding: 60px 0;
    background-color: color-mix(in srgb, #388da8, transparent 95%); 
    
    .solutions-item {
        padding: 40px; 
        background: #fff;
        height: 100%;
        border-radius: 10px;
    }
    
    .solutions-item .icon {
        width: 48px;
        height: 48px;
        position: relative;
        margin-bottom: 50px;
    }
    
    .solutions-item .icon i {
        color: $color-blue--primary;
        font-size: 56px;
        transition: ease-in-out 0.3s;
        z-index: 2;
        position: relative;
    }
    
    .solutions-item .icon:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: #eeeeee;
        border-radius: 50px;
        z-index: 1;
        top: 10px;
        right: -20px;
        transition: 0.3s;
    }
    
    .solutions-item h3 {
        color: $color-blue--primary;
        margin: 0 0 20px 0;
        text-transform: uppercase;
        padding-bottom: 8px;
        position: relative;
        display: inline-block;
        border-bottom: 4px solid #eeeeee;
        transition: 0.3s;
        font-size: 23px;
        font-weight: 700;
        line-height: 30px;
    }
    
    .solutions-item p {
        font-size: 17.8px;
        line-height: 24px;
    }
    
    
    .solutions-item:hover .icon:before {
        background: $color-orange--primary;
    }
}
