/*--------------------------------------------------------------
# trainings Section
--------------------------------------------------------------*/
.trainings {
    
    .trainings-item+.trainings-item {
        margin-top: 60px;
    }
    
    .trainings-item{
        .content {
            background-color: color-mix(in srgb, #388da8, transparent 95%);
            padding: 30px;
            border-radius: 10px;
        }
        
        h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 35px;
            
        }
        
        img {
            border-radius: 15px;
        }
        p{
            font-size: 20.8px;
            line-height: 30px;
        }
    } 
}

.trainings--card{
    border-left: 0.7px solid rgba($color: #000000, $alpha: 0.3);
    
    h4{
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
    }
    p{
        font-size: 17.8px;
        line-height: 30px;
        
    }
}
.arrow-rotate{
    position: absolute;
    transform: rotate(-50deg);
    margin-left: 5px;
}

// ---------------------------------------------
// Training details
// --------------------------------------------- 


.training-details {
    position: relative;
    padding: 120px 0px 80px 0px;
    overflow: hidden;
}

.training-details:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 95%;
    height: 100%;
    background-color: $color-orange--primary;
    content: '';
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}
.training-details:after {
    background: url(../../Assets/img/contact-dec-01.png);
    position: absolute;
    left: 15%;
    opacity: 0.5;
    top: 0;
    width: 318px;
    height: 119px;
    content: '';
    z-index: 2;
}
.training-details .counter {
    text-align: center;
    margin-bottom: 40px;
}

.training-details h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.training-details p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
}
