.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 2vw;
    h1{
        // text-transform: uppercase;
        font-weight: 900;
        font-family: 'Teko', sans-serif;
        color: #21417F;
        font-size: 3rem ;
    }
  }
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 50vw;
  }
  