
// Btn on nav 
.btn__nav{
    
    position: relative;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: 'redonda_testregular', sans-serif;
    font-weight: 700;
    color: #21417F;
    background-color: white;
    
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &::after {
        background-color: #fff;
    }
    
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}


/*----------BTN in hero second navabar----------*/
.shopbtn-nav {
    background: transparent;
    color: $color-orange--primary;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 1.2em;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid $color-orange--primary;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    
    
    .icon {
        background: $color-orange--primary;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.2em;
        width: 2.2em;
        border-radius: 1.2em;
        right: 0.3em;
        transition: all 0.3s;
    }
    
    &:hover .icon {
        width: calc(100% - 0.6em);
    }
    
    .icon svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #fff;
    }
    
    &:hover .icon svg {
        transform: translateX(0.1em);
    }
    
    &:active .icon {
        transform: scale(0.95);
    }
    
    
}
/*-------------------------------------*/
.btn__main--container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.shopbtn__container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    
    text {
        font-family: "lato", sans-serif;
        font-size: 20px;
        fill: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-variant-ligatures: none;
        letter-spacing: 6px;
        animation: rotate 25s linear ;
        transform-origin: 250px 250px;
        text-shadow: #000 1px 0 5px;    }
        

        .link {
            width: 7rem;
            height: 7rem;
            display: inline-block;
            font: 300 1.55rem/1.4 "Josefin Sans"; 
            text-transform: uppercase;
            letter-spacing: 0.1175em;
            word-spacing: 0.3em;
            text-decoration: none;
            
            &__svg {
                width: 100%;
                height: auto;
                transform-box: fill-box;
                fill: $textColor;
                stroke: $textColor;
                stroke-width: 0.05em;
                stroke-linecap: round;
                stroke-linejoin: round;
            }
            
            &__cloud {
                transform-origin: 50% 50%;
                animation: rotate normal infinite 3 * $rotationDuration linear;
                fill: rgba(255, 255, 255, 0.15);
            }
            
            &__face,
            &__arrow {
                transform-origin: 50% 50%;
                transition: transform $hoverDuration / 2 $easeIn;
                
                .link:hover & {
                    transform: scale(1.1);
                    transition: transform $hoverDuration $easeOut;
                }
            }
            
            &__arrow {
                stroke-width: 0.075em;
            }
            
            &__text {
                animation: rotateReverse normal infinite $rotationDuration linear;
                transform-origin: 50% 50%;
                
                .link:hover & {
                    animation-play-state: paused;
                    
                }
            }
            
            &--alt {
                font-size: 1.15rem;
                letter-spacing: 0;
                word-spacing: 0;
            }
        }
        
        @keyframes rotate {
            to {
                transform: rotate(360deg);
            }
        }
        
        @keyframes rotateReverse {
            to {
                transform: rotate(-360deg);
            }
        }
        
    }
    
    .buy_btn{
        background-color: $color-green;
        color: #fff;
        font-size: 20px;
        padding: 10px 25px;
        text-transform: uppercase;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        i{
            font-size: 25px;
        }
        &:hover{
            background-color: rgba($color: $color-green, $alpha: 0.9);
        }
        &:active{
            background-color: rgba($color: $color-green, $alpha: 0.5);
        }
        margin: 40px;
    }  
    .btn-links {
        font-size: 18px;
        color: $color-orange--primary;
        position: relative;
        cursor: pointer;
        display: block;
        text-decoration: none;
        
        &:hover{
            color: $color-orange--primary;
        }
        
        &::after {
            content: '';
            position: absolute;
            width: 90px;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $color-orange--primary;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-in-out;
        }
        
        &:hover::after {
            transform: scaleX(1);
        }
    }
    
    .btn_buy{
        text-decoration: none;
        display: inline-block;
        padding: 9px 42px;
        border-radius: 50px;
        background-color: $color-orange--primary;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
        box-shadow: -1.717px 8.835px 29.76px 2.24px rgba($color-orange--primary, 0.18);
        border: 1px solid $color-orange--primary;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        &:hover{
            background-color: rgba($color: $color-orange--primary, $alpha: 0.9);
            color: #fff;
        }
    }
    
    /*------------------------------------------------------------------*/
    .registration-button-form {
        --color: #fff;
        --background: #404660;
        --background-hover: #3A4059;
        --background-left: #2B3044;
        --folder: #F3E9CB;
        --folder-inner: #BEB393;
        --paper: #FFFFFF;
        --paper-lines: #BBC1E1;
        --paper-behind: #E1E6F9;
        --pencil-cap: #fff;
        --pencil-top: #275EFE;
        --pencil-middle: #fff;
        --pencil-bottom: #5C86FF;
        --shadow: rgba(13, 15, 25, .2);
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        -webkit-apparance: none;
        -webkit-tap-highlight-color: transparent;
        padding: 17px 29px 17px 69px;
        transition: background 0.3s;
        color: var(--color);
        background: var(--bg, var(--background));
        text-decoration: none;
    }
    
    .registration-button-form > div {
        top: 0;
        left: 0;
        bottom: 0;
        width: 53px;
        position: absolute;
        overflow: hidden;
        border-radius: 5px 0 0 5px;
        background: var(--background-left);
    }
    
    .registration-button-form > div .folder {
        width: 23px;
        height: 27px;
        position: absolute;
        left: 15px;
        top: 13px;
    }
    
    .registration-button-form > div .folder .top {
        left: 0;
        top: 0;
        z-index: 2;
        position: absolute;
        transform: translateX(var(--fx, 0));
        transition: transform 0.4s ease var(--fd, 0.3s);
    }
    
    .registration-button-form > div .folder .top svg {
        width: 24px;
        height: 27px;
        display: block;
        fill: var(--folder);
        transform-origin: 0 50%;
        transition: transform 0.3s ease var(--fds, 0.45s);
        transform: perspective(120px) rotateY(var(--fr, 0deg));
    }
    
    .registration-button-form > div .folder:before, .registration-button-form > div .folder:after,
    .registration-button-form > div .folder .paper {
        content: "";
        position: absolute;
        left: var(--l, 0);
        top: var(--t, 0);
        width: var(--w, 100%);
        height: var(--h, 100%);
        border-radius: 1px;
        background: var(--b, var(--folder-inner));
    }
    
    .registration-button-form > div .folder:before {
        box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
        transform: translateX(var(--fx, 0));
        transition: transform 0.4s ease var(--fd, 0.3s);
    }
    
    .registration-button-form > div .folder:after,
    .registration-button-form > div .folder .paper {
        --l: 1px;
        --t: 1px;
        --w: 21px;
        --h: 25px;
        --b: var(--paper-behind);
    }
    
    .registration-button-form > div .folder:after {
        transform: translate(var(--pbx, 0), var(--pby, 0));
        transition: transform 0.4s ease var(--pbd, 0s);
    }
    
    .registration-button-form > div .folder .paper {
        z-index: 1;
        --b: var(--paper);
    }
    
    .registration-button-form > div .folder .paper:before, .registration-button-form > div .folder .paper:after {
        content: "";
        width: var(--wp, 14px);
        height: 2px;
        border-radius: 1px;
        transform: scaleY(0.5);
        left: 3px;
        top: var(--tp, 3px);
        position: absolute;
        background: var(--paper-lines);
        box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
    }
    
    .registration-button-form > div .folder .paper:after {
        --tp: 6px;
        --wp: 10px;
    }
    
    .registration-button-form > div .pencil {
        height: 2px;
        width: 3px;
        border-radius: 1px 1px 0 0;
        top: 8px;
        left: 105%;
        position: absolute;
        z-index: 3;
        transform-origin: 50% 19px;
        background: var(--pencil-cap);
        transform: translateX(var(--pex, 0)) rotate(35deg);
        transition: transform 0.4s ease var(--pbd, 0s);
    }
    
    .registration-button-form > div .pencil:before, .registration-button-form > div .pencil:after {
        content: "";
        position: absolute;
        display: block;
        background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
        width: var(--w, 5px);
        height: var(--h, 20px);
        border-radius: var(--br, 2px 2px 0 0);
        top: var(--t, 2px);
        left: var(--l, -1px);
    }
    
    .registration-button-form > div .pencil:before {
        -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
        clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    }
    
    .registration-button-form > div .pencil:after {
        --b: none;
        --w: 3px;
        --h: 6px;
        --br: 0 2px 1px 0;
        --t: 3px;
        --l: 3px;
        border-top: 1px solid var(--pencil-top);
        border-right: 1px solid var(--pencil-top);
    }
    
    .registration-button-form:before, .registration-button-form:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        border-radius: 1px;
        background: var(--color);
        transform-origin: 9px 1px;
        transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
        top: 26px;
        right: 16px;
        transition: transform 0.3s;
    }
    
    .registration-button-form:after {
        --r: 45deg;
    }
    
    .registration-button-form:hover {
        --cx: 2px;
        --bg: var(--background-hover);
        --fx: -40px;
        --fr: -60deg;
        --fd: .15s;
        --fds: 0s;
        --pbx: 3px;
        --pby: -3px;
        --pbd: .15s;
        --pex: -24px;
    }
    // ------------------------------------------
    
    .registration-button-whatsapp-2{
        text-decoration: none;
        width: 100%;
    }
    /* From Uiverse.io by mrhyddenn */ 
    a .registration-button-whatsapp{
        text-decoration: dashed;
        
    }
    .registration-button-whatsapp {
        background: transparent;
        position: relative;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        font-size: 14px;
        text-decoration: none;
        font-weight: 500;
        line-height: 19px;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #46C755;
        outline: none;
        overflow: hidden;
        color: #46C755;
        transition: color 0.3s 0.1s ease-out;
        text-align: center;
        span{
            font-size: 14px;
            font-weight: 500;
        }
    }
    
    .registration-button-whatsapp span {
        margin: 10px;
        text-decoration: none;
    }
    
    .registration-button-whatsapp::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        content: '';
        border-radius: 50%;
        display: block;
        width: 20em;
        height: 20em;
        left: -5em;
        text-align: center;
        transition: box-shadow 0.5s ease-out;
        z-index: -1;
    }
    
    .registration-button-whatsapp:hover {
        color: #fff;
        border: 1px solid #46C755;
    }
    
    .registration-button-whatsapp:hover::before {
        box-shadow: inset 0 0 0 10em #46C755;
    }

    
    .container-btns{
        display: flex;
        align-items: center;
        justify-content: center; 
    }