.hero-shop-category-mikrotik{
    top: 50px;
    position: relative;
    height: 500px;
    background-image: url("../../Assets/img/ListMikrotiktcRouter.webp");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}
.hero-shop-category-computer-accessories{
    top: 70px;
    position: relative;
    height: 500px;
    background-image: url("../../Assets/img/computer-accessories.webp");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

}