
.container-title{
    margin: 10% 0; 
    h2{
        font-size:48px;
        font-weight: 700;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
    }
    
    p{
        font-size: 20.8px;
        line-height: 37.44px;
        vertical-align: baseline;
        letter-spacing: normal;
        word-spacing: 0px;
    }
    @media (max-width: $breakpoint--tablet){ 
        margin: 30% 0 10% 0; 
    }
}
.container-title-right{
    text-align: right;
}
.container-title-center{
    text-align: center;
}