.s_product_text {
    
    h5{
        font-weight: 700;
        font-size: 15px;
        text-transform: capitalize;
        margin-bottom: 40px;
        span{
            margin: 0 10px; 
        }
        
    }
    h3 {
        font-size: 24px;
        font-weight: 700;
        color: black;
        margin-bottom: 10px;
    }
    
    h2 {
        font-size: 24px;
        font-weight: bold;
        color: $color-orange--primary;
        margin-bottom: 5px;
    }
    h4{
        color: $color-blue--primary;
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .list {
        li {
            margin-bottom: 5px;
            font-weight: normal;
            font-size: 15px;
            color: #000;
            span {
                width: 90px;
                display: inline-block;
                font-weight: 500;
            }
            
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    
    p {
        padding-top: 20px;
        border-top: 1px dotted #d5d5d5;
        margin: 20px 0;
    }
    
    
    
}