.product__page{
    padding-top: 150px;
    
    .product__head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        @media (max-width : $breakpoint--phone ){
            flex-direction: column-reverse;
            
        }
        
        
        h1{
            font-size: $h1--size;
            text-transform: uppercase;
            color: $color-blue--primary; 
            font-weight: 700;
        }
        
        
        .product__info{
            width: 50%;
            @media (max-width : $breakpoint--phone ){
                width: 100%;
            }
        }
        .product__img{
            display: flex;
            img{
                width: 400px;
                height: 400px;
                border-radius: 10px;
                @media (max-width : $breakpoint--phone ){
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
    .product__body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        @media (max-width : $breakpoint--tablet ){
            flex-direction: column;
            
        }
        
        .product__img-1{
            img{
                width: 200px;
                height: 400px;
                border-radius: 15px;
            }
            @media (max-width : $breakpoint--tablet ){
                display: none;
                width: 100%;
            }
        }
        .product__img-2{
            img{
                border-radius: 15px;
                width: 400px;
                height: 400px;
                
                @media (max-width : $breakpoint--phone ){
                    width: 70vw;
                    height: 400px;
                }
            }
        }
        .product__description{
            width: 50%;
            @media (max-width : $breakpoint--tablet ){
                width: 100%;
            }
            
            h4{
                color: $color-blue--primary;
                font-size: $h1--size;
                text-transform: uppercase;
                color: $color-blue--primary; 
                font-weight: 700;
            }
            p{
                font-size: 14px;
                color: #7d7d7d;
                margin: 1px;
            }
        }
    }
}