.product-collection .collection-item {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
.product-collection .product-entry {
    position: absolute;
    bottom: 30px;
}
.product-collection .left-content .product-entry {
    right: 0;
    bottom: 90px;
}
.product-collection .categories {
    text-transform: uppercase;
}
.product-collection .product-entry h3.item-title {    
    font-size: 4.4em;
    line-height: 1; 
    font-weight: 900;
}
.product-collection .product-entry p {
    width: 80%;
}
.product-collection .right-content h3.item-title {
    font-size: 3.2em;
    width: 80%;
    margin: 0;
}
.product-collection .right-content .product-entry {
    left: 60px;
}

@media screen and (max-width: 1200px) {
  #latest-collection .right-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }
}
@media screen and (max-width: 991px) {
  #latest-collection .right-content {
      flex-wrap: wrap;
  }
  .product-collection .left-content .product-entry,
  .product-collection .right-content .product-entry {
      left: 0;
      right: 0;
      margin: auto;
      width: 75%;
  }
  .product-collection .left-content h3.item-title {
      font-size: 2.2em;
  }
}
@media screen and (max-width: 767px) {
  .product-collection .left-content .product-entry {
      width: 100%;
  }
}
.image-large{
    width: 95vw;
    height: 35vh;
    background-color: $color-orange--primary;
}
.portrait-image, .paysage-image{
    display: none;
  } 
  
  /* For screens larger than 760px: display portrait image */
  @media  (min-width: $breakpoint--tablet) {
    .portrait-image {
      display: block;
    }
  }
  
  /* For screens less than 760px: display paysage image */
  @media (max-width: $breakpoint--tablet ) {
    .paysage-image {
      display: block;
    }
  }