.header-training {
    padding-top: 8rem;
    padding-bottom: 4em;
    background: url('../../Assets/img/header-background.jpg') center center no-repeat;
    background-size: cover;
    text-align: center;
    
    @media (max-width: $breakpoint--tablet) {
        margin-top: 150px;
        padding: calc(4rem - 30px) 0 4rem 0;
        height: 60vh;
    }
    
    h1 {
        font-weight: 700;
        color: black;
        margin-bottom: 30px;
        
        @media (min-width: $xxl) {
            font-size: 54px;
        }
    }
    p {
        color: rgba(black, .7);
        margin-bottom: 30px;
        font-size: 25px;
        
    }
    .image-container {
        margin-top: 5rem;
    }
    
}

.advantage-services {
    padding-top: 4rem;
    background-size: cover;
    text-align: center;
    
    .text-container {
        padding: 5rem 1.5rem 5.5rem 1.5rem;
        border-radius: 28px;
        background: url('../../Assets/img/invitation-background.jpg') center center no-repeat;
        background-size: cover;
    }
    h2 {
        margin-bottom: 1rem;
        color: #ffffff;
    }
    .p-large {
        margin-bottom: 2.75rem;
        color: #ffffff;
    }
    .advantage-services-icon.purple {
        background-color: #dc63ff;
    }
    .advantage-services-icon.blue {
        background-color: #1d79fb;
    }
    .advantage-services-icon.orange {
        background-color: #ff6c02;
    }
    .advantage-services-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 4px;
        text-align: center;   
        background-color: #14be9f;
        i{
            font-size: 1.25rem;
            line-height: 44px;    
        }

    }
    
}
.card-infos-trainings{
    .card-infos-trainings_number{
        width: 70px;
        height: 50px;
        // border-radius: 50%;
        color: white;
        text-align: center;
        background-color: $color-blue--primary;
        font-size: 20px;
        margin-right: 10px;
        font-weight: 500;
    }
    .card-infos-trainings__head{
        
        h5{
            color: #222222;
            font-weight: 700;
            font-size: 1.25rem;
        }
        
    }
}
.our-trainers{
    .our-trainers-animation{
        margin-top: 50px;
        width: 70vw;
        margin: 0 auto;
        
    }
    h5{
        font: 1.5rem;
        color: #222222;
        font-weight: 700;
        text-align: center;
    }
}



/************************/
/*     Testimonials     */
/************************/
.cards-testimonials-container {
    padding-top: 9.5rem;
    padding-bottom: 2.25rem;
    text-align: center;
    .h2-heading {
        margin-bottom: 3.75rem;
    }
    
    .card-testimonial {
        position: relative;
        margin-bottom: 5rem;
        border-radius: 10px;
        box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1);
        
    }
    
    .card-testimonial .quotes {
        position: absolute;
        top: -15px;
        right: 0;
        left: 0;
        width: 48px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .card-body {
        padding: 3.5rem 2rem 3.125rem 2rem;
    }
    
    .testimonial-author {
        margin-bottom: 0.125rem;
        color: #223150;
    }
    
    .module {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
    
    .card-testimonial .gradient-floor {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 10px;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .card-testimonial .gradient-floor.red-to-blue {
        background: linear-gradient(to right, #F8B234, #0092ff);
    }
    
    .card-testimonial .gradient-floor.blue-to-purple {
        background: linear-gradient(to right, #0092ff, #637eff);
    }
    
    .card-testimonial .gradient-floor.purple-to-green {
        background: linear-gradient(to right, #637eff, #2BB673);
    }
    .testimonial-text {
        font-style: italic; 
    }
    
    .testimonial-author {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    
}

.bg-gray {
    background-color: #fcfafb;
}
