@mixin button-main ($color-1){
  display: flex;
	align-items: center;
	justify-content: center;
  color: white;
  font-weight: 700;
  padding: 30px;
	
	cursor: pointer;

	svg {
		height: 55px;
		width: 150px;
		fill: none;
		stroke-width: 5;

		.o1 {
			stroke: rgba($color-1, 0.7);
			fill: $color-1;
			transition: all 1s ease-in-out;
		}

		.o2 {
			stroke: white;
			stroke-dasharray: 20 420;
			stroke-dashoffset: 20;
			transition: all 1s ease-in-out;
		}
	}

	span {
		position: absolute;
		margin: auto 0;
		text-transform: uppercase;
		// letter-spacing: 3px;
    padding: 50px;
	}

	&:hover {
		.o1{
			fill: rgba($color-1, 0.8);
		}
		
		.o2 {
			stroke-dashoffset: -420;
		}
	}
  
}
 
.main-btn--blue{
    @include button-main($color-blue--primary); 
}
.main-btn--orange{
    @include button-main($color-orange--primary); 
}
/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
.section-header {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }
  
  .section-header h2 {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #001973;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-header span {
    position: absolute;
    top: 46px;
    color: rgba(14, 29, 52, 0.06);
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    line-height: 0;
  }
  
  .section-header p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 640px) {
    .section-header h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
  
    .section-header span {
      font-size: 38px;
    }
  }