// Import partials and dependencies

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'redonda_testregular';
    src: url('../Assets/font/Redonda/redondatest-regular-webfont.woff2') format('woff2'),
    url('../Assets/font/Redonda/redondatest-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'redonda_testblack';
    src: url('../Assets/font/Redonda/redondatest-black-webfont.woff2') format('woff2'),
    url('../Assets/font/Redonda/redondatest-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: 'redonda_testextrabold';
    src: url('../Assets/font/Redonda/redondatest-extrabold-webfont.woff2') format('woff2'),
    url('../Assets/font/Redonda/redondatest-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}


@import 'variables';
@import 'mixins';
@import 'reset';

@import 'components/buttons';
@import 'components/navbar';
@import 'components/footer';
@import 'components/secondnavbar';
@import 'components/product';
@import 'components/shareicon';
// @import 'components/accordion';
// @import 'components/gotop'; 
// @import 'components/card';
@import 'components/title';
@import 'components/skill';
// @import 'components/hero-shop';

// @import 'components/emptylist';
// @import 'components/blogitem';
// @import 'components/bloglist';
// @import 'components/searchbar';
// @import 'components/trainingdetailsnew';


// @import 'components/hero';
// @import 'components/topbar';
// @import 'components/cursor';
// @import 'components/blob';
// @import 'components/blob';
// @import 'components/Projet'; 
// @import 'components/_sectiontitle.scss';
@import 'layout/hero';
@import 'layout/about';
@import 'layout/training';
// @import 'layout/cardShop';
// @import 'layout/grid';
@import 'layout/client';
@import 'layout/solutions';
@import 'layout/shop';
@import 'layout/parallax';
// @import 'layout/footer';
@import 'layout/idea';
@import 'layout/form';

// @import 'layout/navigation';
// @import 'layout/forms';


// @import 'pages/home'; 
@import 'pages/shop';
// @import 'pages/solution'; 
@import 'pages/error404';
// @import 'pages/about';
@import 'pages/productpage';
@import 'pages/productdetails';
// @import 'pages/estimate';
@import 'pages/training';
@import 'pages/trainingdetails';
@import 'pages/solutionsdetails';
@import 'pages/contact';


